*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.carousel-item img{
    width: 100%;
    height: 92vh;
}

.about_img{
    min-width: 100%;
    max-height: 280px;
}


.img-fluid{
    height : 100% !important;
}

.social_handles {
    background: rgb(133, 179, 211);
}

footer p{
    margin-bottom: 0;
}


/* responsive css code */
/* X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }